@import url('https://fonts.googleapis.com/css?family=Merienda+One');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham Rounded";
    font-family: 'Merienda One', cursive;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#app {
    background-image: url("https://source.unsplash.com/3200x1600/?nature");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    background-color: #000;
}

.heading {
    text-align: center;
    background-color: #ffc600;
    padding: 5px 10px;
    border-radius: 50px;
}

.quote-wrap {
    width: 70%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.quote {
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 2;
    text-transform: capitalize;
}

.author {
    background-color: black;
    color: white;
    padding: 5px 35px;
    text-transform: uppercase;
}

.shuffle-quote {
    display: block;
    background-color: transparent;
    padding: 5px 25px;
    border: 5px solid black;
    background-color: #ffc600;
    border-radius: 50px;
    font-size: 25px;
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    transition: padding 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53), margin 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.shuffle-quote:hover {
    padding: 5px 60px;
}

.shuffle-quote:active {
    transform: scale(1.1);
}